
{% extends "_helpers/_base.html" %}
{% load static %}
{% block content %}

<div class="container py-4">

    <!-- GRID -->
    <div class="row g-4">


        <!-- PROJECT CARD -->
        <ul id="project-list" class="list-unstyled">
        {% for project in task_scheduler %}
             {% include "task_scheduler/partials_pro/project_item.html" %}

        {% endfor %}
</ul>
</div>


    <!-- ADD PROJECT -->
    <div id="project-form-container" class="mb-4">
    <div class="text-center">
        <button
            hx-get="{% url 'task_scheduler:project_create' %}"
            hx-target="#project-form-container"
            hx-swap="innerHTML"
            class="btn btn-primary btn-lg">
            ➕ Add Project
        </button>
    </div>
</div>

</div>

{% endblock content %}
